.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    color: darken(#673ab7, 20);
    background-color: lighten(#673ab7, 30);

    h1 {
        font-size: 3.5em;
    }

    h2 {
        font-size: 2em;
    }
}

.container {
    margin: auto;
    min-width: 680px;
    max-width: 60%;

    @media (max-width: 1000px) {
        margin: 0 1em;
        min-width: auto;
        max-width: 100%;
    }
}
