.example-markdown {
    display: block;
    font-family: monospace;
    white-space: pre;
    word-break: break-word;
    margin: 1em 0;
}

.example-output {
    padding: 0.5rem;
    border: 1px solid #aaaaaa;
}
