pre {
    color: #666666;
    background-color: #eaeaea;
    border-radius: 5px;
    padding: 1.2em 1.6em;
    overflow-x: auto;
    counter-reset: line;
    line-height: 0;
    box-shadow: inset 0 0 5px -1px #dadada;

    span {
        display: block;
        line-height: 1rem;

        &:before {
            counter-increment: line;
            content: counter(line);
            display: inline-block;
            border-right: 1px solid #ddd;
            padding: 0 0.5em;
            margin-right: 0.5em;
            color: #666666;
            text-align: right;
            min-width: 28px;
        }
    }
}
